*{
    
    font-family: 'Roboto', sans-serif;
    padding:0;
    margin:0;
    border:0;
    
}
body{
   
    background-color: #ced4da;
background-repeat: no-repeat;
    
}
.list{
    position:relative;
    left: 400px;
    font-size: 20px;
    font-weight: bold;
}
.container{
    max-width: 900px;
    margin: auto;
    padding: 20px;
    background-image: url('');
    border-radius: 10px;
    box-shadow: 1px 2px 20px;
}
.form{
    background-image: url('https://pbs.twimg.com/media/FAd6xqlXMAQzdYO.jpg') ;
    background-repeat: no-repeat;
    background-size: 500px 300px;
    background-position: 500px;
    position: relative;
    left:30px;
    top: 100px;
    width:1000px;
    height:300px;
    border:1px solid #5d5656;
    box-shadow: 5px 5px 5px;
    border-radius: 12px;

  
}

#main-header{
    position:relative;
    left: 100px;
    font-size: 20px;
    font-weight: bold;
    
}
.formr{
    background-color: yellowgreen;
    position: relative;
    left:-100px;
    top: 100px;
    width:400px;
    height:220px;
    border:1px solid #760de7;
    box-shadow: 5px 5px 5px;
    border-radius: 12px;
   
    
}
div input{
    margin: 10px;
    position: relative;
    left: 10px;
    box-sizing: 30px;
    border-color: #e70dd5;
    padding-left: 20px;
}
.btn{
    border-color: #e70dd5;
}
.name{
    position: relative;
    
}


   
        .formr{
            position: relative;
            top: 10px;
            left: 10px;
            margin: 10px;
        }
        div input{
            margin: 5px;
        }
        .name{
            position: relative;
            
        }
        #btnOne{
            background-color:rgb(255,255,102);
            color:white;
        }
        #btnOne:focus,#btnOne:hover{
            box-shadow: none;
            outline:none;
        }
        
        #tableHead{
            background-color:rgb(239, 239, 233);
            margin: ;
            margin-right: 10px;
        }
        #searchInput{
            height: calc(1.5em + .75rem + 2px);
            padding: .375rem .75rem;
            border-bottom: 1px solid #ced4da;
        }
        #searchInput:hover,#searchInput:focus{
            box-shadow: none;
            outline:none;
        }
        .auto{
            background-color: #bfbbbb;
            position: relative;
            padding-left: 70px;
            left: 30px;
            right:70px;
            top: 120px;
            width:1000px;
            height:300px;
            border:1px solid #5d5656;
            bottom: 10000px;
             border-radius: 12px;
             box-shadow: 5px 5px;
        }
        .th{
            margin-left: 5px;
            text-align: right;
            
        }
        .tr{
            margin-right: auto;
            text-align: right;
            letter-spacing: 10px;
        }
        .list{
            font-size: 20px;
            position: relative;
            left: 100px;
            margin-right: 10px;
           
        }
        .boo{
            margin: auto;
            margin-right: 10px;
        }
        .col{
            padding: 10px;
            margin:10px;
        }